<a href="https://colab.research.google.com/github/MMoltira/DataMining/blob/master/Project.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [129]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [130]:
path = '/content/drive/My Drive/DWDM_material'

In [131]:
import os 
import pandas as pd

In [132]:
divorce = os.path.join(path,'divorce.csv')
caijai = os.path.join(path,'caijai.csv')

In [133]:
divorce = pandas.read_csv(divorce)
divorce

               City       2547  ...       2556                  province
0     ?????????????  14,976     ...  15,130                      Bangkok
1       ???????????   2,624     ...   3,661                 Samut Prakan
2           ???????   2,322     ...   2,189                   Nonthaburi
3          ????????   1,688     ...   2,656                 Pathum Thani
4   ???????????????   1,333     ...   1,849     Phra Nakhon Si Ayutthaya
..              ...        ...  ...        ...                       ...
72             ????     584     ...     742                        Trang
73           ??????     545     ...     704                  Phatthalung
74          ???????     160     ...     255                      Pattani
75             ????     246     ...     301                         Yala
76         ????????     138     ...     225                   Narathiwat

[77 rows x 12 columns]

In [134]:
caijai = pandas.read_csv(caijai)
caijai

               City   2553     2554  ...      2560      2561      2562
0     ?????????????  29647  29969.2  ...  35350.70  34127.44  31753.04
1       ???????????  19973  20158.2  ...  24354.72  23231.71  21423.43
2           ???????  32423  29099.3  ...  33313.04  33808.98  32189.09
3          ????????  23118  18993.2  ...  33604.46  43300.51  37086.11
4   ???????????????  18789  17534.3  ...  23780.19  22790.08  24439.76
..              ...    ...      ...  ...       ...       ...       ...
72             ????  18187  22686.6  ...  18768.44  18648.61  20143.01
73           ??????  17442  18111.6  ...  16807.88  15947.09  15848.77
74          ???????  11928  14011.7  ...  16948.61  15705.85  15948.56
75             ????  12576  14776.7  ...  15483.63  13301.01  13595.63
76         ????????  12162  13901.0  ...  14980.10  15630.54  14572.65

[77 rows x 11 columns]

In [135]:
caijai.head()

              City   2553     2554  ...      2560      2561      2562
0    ?????????????  29647  29969.2  ...  35350.70  34127.44  31753.04
1      ???????????  19973  20158.2  ...  24354.72  23231.71  21423.43
2          ???????  32423  29099.3  ...  33313.04  33808.98  32189.09
3         ????????  23118  18993.2  ...  33604.46  43300.51  37086.11
4  ???????????????  18789  17534.3  ...  23780.19  22790.08  24439.76

[5 rows x 11 columns]

In [136]:
divorce.shape

(77, 12)

In [137]:
caijai.shape

(77, 11)

In [100]:
divorce.isnull().any()

???????                False
2547                    True
2548                    True
2549                    True
2550                    True
2551                    True
2552                    True
2553                    True
2554                   False
2555                   False
2556                   False
Region and province    False
dtype: bool

In [103]:
divorce_nm = divorce.dropna()

In [104]:
divorce_nm.isnull().any().any()

False

In [105]:
print(divorce.shape)
print(divorce_nm.shape)

(76, 12)
(76, 12)

In [106]:
divorce_nm.isnull().any()

???????                False
2547                   False
2548                   False
2549                   False
2550                   False
2551                   False
2552                   False
2553                   False
2554                   False
2555                   False
2556                   False
Region and province    False
dtype: bool

In [101]:
caijai.isnull().any()

???????    False
2553       False
2554       False
2555       False
2556       False
2557       False
2558       False
2559       False
2560       False
2561       False
2562       False
dtype: bool

In [ ]:
merged_table = divorce.merge(caijai,how='left',left_on='class_type',right_on='Class_Number')
merged_table

In [66]:
divorce=pd.read_csv('divorce.csv',encoding='thai')

FileNotFoundError: ignored

In [51]:
divorce=pd.read_scv('divorce.scv')
divorce

AttributeError: ignored

In [47]:
divorce.head()

AttributeError: ignored

In [ ]:
w_restaurant_df = pandas.read_csv(w_restaurant)

In [ ]:
w_restaurant_df.head()

                         Province      2547  ... Unnamed: 63 Unnamed: 64
0                        Bangkok    26,054   ...         NaN         NaN
1                   Samut Prakan    18,100   ...         NaN         NaN
2                     Nonthaburi    24,211   ...         NaN         NaN
3                   Pathum Thani    21,793   ...         NaN         NaN
4       Phra Nakhon Si Ayutthaya    12,918   ...         NaN         NaN

[5 rows x 65 columns]