<a href="https://colab.research.google.com/github/MMoltira/DataMining/blob/master/Project_pre_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [ ]:
path = '/content/drive/My Drive/DWDM_material'

In [ ]:
import os 
import pandas as pd

In [ ]:
divorce = os.path.join(path,'divorce.csv')
caijai = os.path.join(path,'caijai.csv')

In [ ]:
divorce = pandas.read_csv(divorce)
divorce

                    Province  ... num_of_divorcer2556
0                    Bangkok  ...              15,130
1               Samut Prakan  ...               3,661
2                 Nonthaburi  ...               2,189
3               Pathum Thani  ...               2,656
4   Phra Nakhon Si Ayutthaya  ...               1,849
..                       ...  ...                 ...
72                     Trang  ...                 742
73               Phatthalung  ...                 704
74                   Pattani  ...                 255
75                      Yala  ...                 301
76                Narathiwat  ...                 225

[77 rows x 5 columns]

In [ ]:
caijai = pandas.read_csv(caijai)
caijai

         Region and province  cost_avg2553  ...  cost_avg2555  cost_avg2556
0                    Bangkok         29647  ...      33956.98       35023.7
1               Samut Prakan         19973  ...      25860.88       26192.9
2                 Nonthaburi         32423  ...      28731.23       26946.6
3               Pathum Thani         23118  ...      30668.81       29514.0
4   Phra Nakhon Si Ayutthaya         18789  ...      25215.89       20493.7
..                       ...           ...  ...           ...           ...
72                     Trang         18187  ...      19617.83       20922.3
73               Phatthalung         17442  ...      18404.19       16635.7
74                   Pattani         11928  ...      14119.15       16668.1
75                      Yala         12576  ...      12883.10       12521.7
76                Narathiwat         12162  ...      12686.17       13727.8

[77 rows x 5 columns]

In [ ]:
caijai.head()

        Region and province  cost_avg2553  ...  cost_avg2555  cost_avg2556
0                   Bangkok         29647  ...      33956.98       35023.7
1              Samut Prakan         19973  ...      25860.88       26192.9
2                Nonthaburi         32423  ...      28731.23       26946.6
3              Pathum Thani         23118  ...      30668.81       29514.0
4  Phra Nakhon Si Ayutthaya         18789  ...      25215.89       20493.7

[5 rows x 5 columns]

In [ ]:
divorce.shape

(77, 5)

In [ ]:
caijai.shape

(77, 5)

In [ ]:
divorce.isnull().any()

Province                       False
num_of_divorced_couples2553     True
num_of_divorced_couples2554    False
num_of_divorced_couples2555    False
num_of_divorcer2556            False
dtype: bool

In [ ]:
divorce_nm = divorce.dropna()

In [ ]:
divorce_nm.isnull().any().any()

False

In [ ]:
print(divorce.shape)
print(divorce_nm.shape)

(77, 5)
(76, 5)

In [ ]:
divorce_nm.isnull().any()

Province                       False
num_of_divorced_couples2553    False
num_of_divorced_couples2554    False
num_of_divorced_couples2555    False
num_of_divorcer2556            False
dtype: bool

In [ ]:
caijai.isnull().any()

Region and province    False
cost_avg2553           False
cost_avg2554           False
cost_avg2555           False
cost_avg2556           False
dtype: bool

In [ ]:
merged_table = divorce.merge(caijai,how='left',left_on='Province',right_on='Region and province')
merged_table

                    Province  ... cost_avg2556
0                    Bangkok  ...      35023.7
1               Samut Prakan  ...      26192.9
2                 Nonthaburi  ...      26946.6
3               Pathum Thani  ...      29514.0
4   Phra Nakhon Si Ayutthaya  ...      20493.7
..                       ...  ...          ...
72                     Trang  ...      20922.3
73               Phatthalung  ...      16635.7
74                   Pattani  ...      16668.1
75                      Yala  ...      12521.7
76                Narathiwat  ...      13727.8

[77 rows x 10 columns]

In [ ]:
new_table = merged_table.drop(columns=['Region and province'])
new_table

                    Province  ... cost_avg2556
0                    Bangkok  ...      35023.7
1               Samut Prakan  ...      26192.9
2                 Nonthaburi  ...      26946.6
3               Pathum Thani  ...      29514.0
4   Phra Nakhon Si Ayutthaya  ...      20493.7
..                       ...  ...          ...
72                     Trang  ...      20922.3
73               Phatthalung  ...      16635.7
74                   Pattani  ...      16668.1
75                      Yala  ...      12521.7
76                Narathiwat  ...      13727.8

[77 rows x 9 columns]